<p>Hola <%= @postulation.client.name %>,</p>

<p>Tu postulación para el puesto de <%= @postulation.article.title %> ha sido recibida y será revisada a la brevedad.</p>

<p>Gracias por postularte.</p>

<i>El equipo de Bündel Att</i>