<p class="fs-5">Nuestro servicio de mailing para solicitudes estará pronto en funcionamiento ¡Espérelo con ansias!</p>
<p>Mientras espera, note que ya existe un servicio de mailing para avisar de las solicitudes de empleo entrantes</p>
<p><%= link_to "Atrás", sorry_path %></p>