<h1 class="display-3">Historia del desarrollo</h1>

<div class="row">
    <div class="col-7">
        <div class="mt-5">
            <h2 class="mydafont mb-3">1. Tests exitosos</h2>
            <%= image_tag "test.png" , class:"w-100" %>
        </div>
        <div class="mt-5">
            <h2 class="mydafont mb-3">2. Modelo de datos</h2>
            <%= image_tag "datos.png" , class:"w-100" %>
        </div>
        <div class="mt-5">
            <h2 class="mydafont mb-3">3. Mailing al postular</h2>
            <%= image_tag "mailing3.png" , class:"w-100" %>
        </div>
    </div>
</div>
